[FORMAT]
max-line-length = 120

[DESIGN]
max-args = 7
min-public-methods = 1

[SIMILARITIES]
min-similarity-lines = 6

[TYPECHECK]
generated-members = _meta

[VARIABLES]
dummy-variables-rgx = _|__|dummy

[CLASSES]
exclude-protected= _meta

[MESSAGES CONTROL]
disable =
    missing-docstring,
    invalid-name
